name: Build all examples

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build Go ${{ matrix.go }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.25', '1.24', '1.23' ]
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Setup go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go }}

    - name: Setup ImageMagick's MagickWand
      run:
        sudo apt-get update && sudo apt-get install libmagickwand-dev imagemagick

    - name: Build all
      run: |
        ./build_examples.sh
